@import url('normalize.css');

/* PORTFOLIO */

.ps-container {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	color: #f6f6f6;
	z-index: 99999;
}

.ps-container > div {
	position: absolute;
	width: 50%;
}

.ps-container > div > div,
.ps-slidewrapper > nav,
.ps-slides > div {
	position: absolute;
}

.ps-header {
	top: 0px;
	left: 0px;
	height: 110px;
	z-index: 1001;
	background: #242424;
}

.ps-contentwrapper {
	top: 0px;
	bottom: 0px;
	overflow: hidden;
	z-index: 1000;
	padding-top: 80px;
}

.ps-content {
	background: #2f2f2f;
	width: 100%;
	height: 100%;
	padding: 170px 50px 50px;
}

.ps-content h2 {
	padding: 10px 15px;
	border-right: 1px solid #f2f2f2;
	border-bottom: 1px solid #f2f2f2;
	letter-spacing: 4px;
	margin: 10px 0 30px;
	text-align: right;
	font-size: 30px;
	font-weight: 600;
	text-transform: uppercase;;
}

.ps-content p {
	font-size: 16px;
	letter-spacing: 1px;
	padding: 10px 15px;
	font-weight: 200;
	border-left: 1px solid #f2f2f2;
	border-top: 1px solid #f2f2f2;
	line-height: normal;
}

.ps-content span.ps-price {
	float: left;
	margin: 10px;
	width: 140px;
	height: 140px;
	line-height: 140px;
	text-align: center;
	color: #fff;
	background: #f7cfc6;
	background: rgba(247,197,185,0.8);
	font-size: 55px;
	font-weight: 200;
}

.ps-content a:last-child {
	font-size: 14px;
	font-weight: 600;
	color: #555;
	letter-spacing: 4px;
	float: right;
	border: 2px solid #555;
	padding: 0px 6px;
	text-indent: 4px;
	text-decoration: none;
	text-transform: uppercase;
}

.no-touch .ps-content a:last-child:hover {
	color: #b58b58;
	border-color: #b58b58;
}

.ps-slidewrapper {
	top: 0px;
	height: 100%;
	overflow: hidden;
	right: 0;
}

.ps-slides {
	top: 0px;
	bottom: 200px;
	width: 100%;
}

.ps-slides > div {
	width: 100%;
	height: 100%;
	box-shadow: inset 0 0 0 9999px rgba(179,157,250,0.1);
}

.ps-slidewrapper > nav {
	width: 100%;
	height: 200px;
	bottom: 0px;
	right: 0px;
	z-index: 1000;
}

.ps-slidewrapper > nav > a {
	width: 50%;
	height: 100%;
	position: relative;
	float: left;
	box-shadow: inset 0 0 0 9999px rgba(0,0,0,0.5);
	outline: none;
}

.ps-slidewrapper > nav > a:first-child {
	box-shadow: inset 0 0 0 9999px rgba(0,0,0,0.7);
}

.no-touch .ps-slidewrapper > nav > a {
	-webkit-transition: box-shadow 0.4s ease-in-out;
	-moz-transition: box-shadow 0.4s ease-in-out;
	-ms-transition: box-shadow 0.4s ease-in-out;
	-o-transition: box-shadow 0.4s ease-in-out;
	transition: box-shadow 0.4s ease-in-out;
}

.no-touch .ps-slidewrapper > nav > a:hover {
	box-shadow: inset 0 0 0 9999px rgba(0,0,0,0.1);
}

.no-touch .ps-slidewrapper > nav > a:first-child:hover {
	box-shadow: inset 0 0 0 9999px rgba(0,0,0,0.1);
}

.ps-slidewrapper > nav > a:after {
	content: '';
	position: absolute;
	width: 100px;
	height: 100px;
	top: 50%;
	left: 50%;
	margin: -20px 0 0 -50px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	border-left: 1px solid #fff;
	border-top: 1px solid #fff;
}

.ps-slidewrapper > nav > a:first-child:after {
	-webkit-transform: rotate(-135deg);
	-moz-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	-ms-transform: rotate(-135deg);
	transform: rotate(-135deg);
	margin: -80px 0 0 -50px;
}

.ps-slides > div,
.ps-slidewrapper > nav > a {
	background-color: #fff;
	background-position: center top;
	background-repeat: no-repeat;
	-webkit-background-size: auto 100%;
	-moz-background-size: auto 100%;
	background-size: auto 100%;
}

.ps-move {
	-webkit-transition: top 400ms ease-out;
	-moz-transition: top 400ms ease-out;
	-o-transition: top 400ms ease-out;
	-ms-transition: top 400ms ease-out;
	transition: top 400ms ease-out;
}

@media screen and (max-width: 860px) {

	.ps-header {
		display: none;
	}

	.js .ps-container > div {
		width: 100%; 
	}

	.js .ps-header {
		height: 50px;
	}

	.js .ps-header h1 {
		line-height: 50px;
		padding: 0px 20px;
		letter-spacing: 4px;
	}

	.js .ps-content h2{
		display: none;
	}

	.js .ps-slides {
		bottom: 320px;
		top: 0;
	}

	.ps-slides > div {
    margin-top: -15px
  }

	.js .ps-slidewrapper > nav {
		height: 100px;
	}

	.js .ps-contentwrapper {
		top: auto;
		height: 260px;
		bottom: 100px;
	}

	.js .ps-content {
		padding: 10px;
	}

	.js .ps-content span.ps-price {
		font-size: 18px;
		width: 50px;
		height: 50px;
		line-height: 50px;
		font-weight: 700;
		margin-bottom: 0;
	}

	.js .ps-content p {
		line-height: normal;
		border: none;
		padding: 5px 10px;
		height: 175px;
		overflow-y: scroll;
		letter-spacing: 1px;
		font-size: 12px;
	}

	.js .ps-content a:last-child {
    font-size: 12px;
    margin: 0 20px 0px 0px;
    border: 1px solid;
    letter-spacing: 2px;
    text-transform: none;
	}
}

@media screen and (max-width: 736px) {

/*		.ps-container{
			position: absolute;
		}
*/
}







